<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>AdminSignup</servlet-name>
<servlet-class>com.user.AdminSignup</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminSignup</servlet-name>
<url-pattern>/adminsignup</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>User</servlet-name>
<servlet-class>com.user.User</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>User</servlet-name>
<url-pattern>/Usersignup</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserLogin</servlet-name>
<servlet-class>com.user.UserLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserLogin</servlet-name>
<url-pattern>/userlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>com.admin.AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/adminlogin</url-pattern>
</servlet-mapping>
</web-app>
